<div class="content-page">
  <div class="side-panel">
    <h2>Scripts</h2>
  </div>
  <div class="content-panel">
  <div class="container">
    <div class="row header">
      <div class="col-1">Id</div>
      <div class="col-1">Revision</div>
      <div class="col-2">Language</div>
      <div class="col-7">Name</div>
      <div class="col-1"></div>
    </div>
    <div class="row" *ngFor="let script of scripts">
      <div class="col-1" (click)="editScript(script.id)">{{script.id}}</div>
      <div class="col-1" (click)="editScript(script.id)">{{script.revision}}</div>
      <div class="col-2" (click)="editScript(script.id)">{{script.language}}</div>
      <div class="col-7" (click)="editScript(script.id)">{{script.name}}</div>
      <div class="col-1"><button mat-icon-button (click)="deleteScript(script.id)"><mat-icon>delete</mat-icon></button></div>
    </div>
    <div class="row footer">
      <div class="col-3"><button mat-icon-button (click)="newScript()"><mat-icon>add_circle</mat-icon></button></div>
      <div class="col-6 text-center align-self-center">Page {{page}}/{{pages}}</div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
</div>