.workflowcontainer {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
}

.workflowgraph {
    height: 750px;
}

.hint{
    color: #606060;
}

.transition{
    stroke: #9a9a9a;
}

.transitionhighlight {
    stroke: yellow;
}

.transitionerror {
    stroke: red;
}

.transitionloop {
    stroke: greenyellow;
}

.callnode {
    fill: #ff9191;
}

.workflownode {
    fill: #ebebeb;
}

.nodetypestart {
    fill: #c0ffbd;
}

.nodetypeexpression {
    fill: #ade4ff;
}

.nodetypescript {
    fill: #fffeba;
}

.nodetypeworkflow {
    fill: #fffeba;
}

.nodetypebinaryoperation {
    fill: #edbaff;
}

.nodetypevalue {
    fill: #bbadff;
}

.nodetypesuspend {
    fill: #ff9191;
}

.nodetypecall {
    fill: #91ffdc;
}

.nodetypelog {
    fill: #f5ce42;
}

.nodetypeiterator {
    fill: #b6f542;
}

.nodehighlight {
    fill: whitesmoke;
}

.workflowgraph {
    overflow: hidden;
}

.cluster {
    pointer-events: none;
}

.arrow-head {
    stroke: whitesmoke;
    fill: #9a9a9a;
}

.edge-label {
    fill: whitesmoke !important;
}

.chart-container{
    margin: 0;
    padding: 0;
}

.toolpadding {
    width: 3em;
}

.toolselected {
    color: 'accent'
}