<div class="content-page">
  <div class="container">
    <div class="row">
      <div class="col-9 value">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="workflow.name" (ngModelChange)="changed=true">
        </mat-form-field>
      </div>
      <div class="col-2 value">
        <ngx-select [ngModel]="ScriptLanguage.getValue(workflow.language)" [items]="languages" optionValueField="type" optionTextField="name" (ngModelChange)="changed=true;workflow.language=$event;">
          <ng-template ngx-select-option let-option>
            <span>{{option.data.name}}</span><br>
            <small>{{option.data.description}}</small>
          </ng-template>
        </ngx-select>  
      </div>
      <div class="col-1 value">
        <mat-form-field>
          <mat-label>Revision</mat-label>
          <input matInput [(ngModel)]="workflow.revision" (ngModelChange)="loadRevision()">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="workflowcontainer">
    <div class="row workflowgraph" (contextmenu)="onContextMenu($event)">
      <ngx-graph id="workflowsvg" class="chart-container" layout="dagreCluster" [nodes]="nodes" [links]="transitions" [clusters]="clusters" [update$]="updateGraph$" [draggingEnabled]="false">
        <ng-template #defsTemplate>
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #nodeTemplate let-node>
          <svg:g class="node" ngx-tooltip 
                 [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label" 
                 (click)="nodeClick($event, node)" (dblclick)="nodeDoubleClick($event, node)"
                 (mousedown)="nodeMouseDown($event, node)" (mouseup)="nodeMouseUp($event, node)"
                 [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" 
                 >
            <svg:rect [attr.width]="node.dimension.width" height="15" fill="#606060" />
            <svg:text alignment-baseline="central" [attr.x]="5" [attr.y]="7.5" font-size="10" fill="#FFFFFF">
              {{NodeType.getNodeTypeName(node.data.node.type)}}
            </svg:text>
            <svg:rect
              class="workflownode"
              y="15"
              [attr.width]="node.dimension.width"
              [attr.height]="node.dimension.height-(node.data.node.variable?30:15)"
              [ngClass]="{
                'nodetypestart': NodeType.getNodeTypeValue(node.data.node.type)===NodeType.Start, 
                'nodetypeexpression': NodeType.getNodeTypeValue(node.data.node.type)===NodeType.Expression, 
                'nodetypescript': NodeType.getNodeTypeValue(node.data.node.type)===NodeType.Script, 
                'nodetypeworkflow': NodeType.getNodeTypeValue(node.data.node.type)===NodeType.Workflow, 
                'nodetypebinaryoperation': NodeType.getNodeTypeValue(node.data.node.type)===NodeType.BinaryOperation, 
                'nodetypevalue': NodeType.getNodeTypeValue(node.data.node.type)===NodeType.Value, 
                'nodetypesuspend': NodeType.getNodeTypeValue(node.data.node.type)===NodeType.Suspend, 
                'nodetypecall': NodeType.getNodeTypeValue(node.data.node.type)===NodeType.Call, 
                'nodetypelog': NodeType.getNodeTypeValue(node.data.node.type)===NodeType.Log, 
                'nodetypeiterator': NodeType.getNodeTypeValue(node.data.node.type)===NodeType.Iterator,
                'nodehighlight': node.data.highlighted }"
            />
            <svg:text alignment-baseline="central" text-anchor="middle" [attr.x]="node.dimension.width*0.5" [attr.y]="(node.dimension.height-(node.data.node.variable?15:0))*0.5-node.data.lines.length*7.5">
              <svg:tspan [attr.x]="node.dimension.width*0.5" dy="1.2em" *ngFor="let line of node.data.lines">{{line}}</svg:tspan>
            </svg:text>
            <ng-container *ngIf="node.data.node.variable">
              <svg:rect [attr.y]="node.dimension.height-15" [attr.width]="node.dimension.width" height="15" fill="#404060" />
              <svg:text alignment-baseline="central" [attr.x]="5" [attr.y]="node.dimension.height-7.5" font-size="10" fill="#FFFFFF">
                ⮩ {{node.data.node.variable}}
              </svg:text>
            </ng-container>
          </svg:g>
        </ng-template>
        <ng-template #linkTemplate let-link>
          <svg:g class="edge" ngx-tooltip 
                 tooltipPlacement="top" tooltipType="tooltip" [tooltipTitle]="link.data.transition.condition" 
                 (dblclick)="edgeDoubleClick($event, link)" (click)="edgeClick($event, link)">
            <svg:path class="line" [ngClass]="{'transitionhighlight': link.data.highlighted, 'transitionerror': !link.data.highlighted && link.data.transition.type==='Error', 'transition': !link.data.highlighted && link.data.transition.type==='Standard', 'transitionloop': !link.data.highlighted && link.data.transition.type==='Loop' }" stroke-width="3" marker-end="url(#arrow)"></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                [attr.href]="'#' + link.id"
                [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%"
              >
                {{ link.data.transition.condition }}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
        <ng-template #clusterTemplate let-cluster>
          <svg:g class="node cluster">
            <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height" [attr.fill]="'#404040'" />
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>
  </div>
  <div class="container">
    <div class="actionbutton">
      <button mat-raised-button color="primary" [disabled]="!changed" (click)="save()">Save</button>
    </div>
    <div class="actionbutton">
      <button mat-raised-button color="primary" (click)="startTest()">Test</button>
    </div>
    <div class="actionbutton toolpadding"></div>
    <div class="actionbutton" ngx-tooltip 
      tooltipPlacement="top" tooltipType="tooltip" tooltipTitle="navigate and edit">
      <button mat-icon-button [color]="selectedTool===0?'accent':''" (click)="selectTool(0)">
        <mat-icon class="actionicon">mode_edit</mat-icon>
      </button>
    </div>
    <div class="actionbutton" ngx-tooltip 
    tooltipPlacement="top" tooltipType="tooltip" tooltipTitle="create nodes">
      <button mat-icon-button [color]="selectedTool===1?'accent':''" (click)="selectTool(1)">
        <mat-icon class="actionicon">crop_16_9</mat-icon>
      </button>
    </div>
    <div class="actionbutton" ngx-tooltip 
    tooltipPlacement="top" tooltipType="tooltip" tooltipTitle="create transitions">
      <button mat-icon-button [color]="selectedTool===2?'accent':''" (click)="selectTool(2)">
        <mat-icon class="actionicon">horizontal_rule</mat-icon>
      </button>
    </div>
    <div class="actionbutton" ngx-tooltip 
    tooltipPlacement="top" tooltipType="tooltip" tooltipTitle="delete nodes or transitions">
      <button mat-icon-button [color]="selectedTool===3?'accent':''" (click)="selectTool(3)">
        <mat-icon class="actionicon">delete</mat-icon>
      </button>
    </div>
    <div class="actionbutton toolpadding"></div>
    <div class="actionbutton">
      <button mat-raised-button color="primary" (click)="exportToPng()">Export as Png</button>
    </div>
  </div>
</div>