<div class="content-page">
  <div class="descriptor">
    <h1>Task Scheduler</h1>
  </div>

  <div class="container">
    <table mat-table [dataSource]="tasks" >
      <ng-container [matColumnDef]="column.name" *ngFor="let column of columns">
          <th mat-header-cell *matHeaderCellDef>{{column.display}}</th>
          <td mat-cell *matCellDef="let element">
              <div [ngSwitch]="column.name">
                  <div *ngSwitchCase="'_actions'">
                    <button mat-icon-button color="primary" (click)="editTask(element.id)">
                      <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTask(element.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  <span *ngSwitchDefault>{{element[column.name] | display:column.format}}</span>
              </div>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="Tables.getColumnProperties(columns)"></tr>
      <tr mat-row *matRowDef="let row; columns: Tables.getColumnProperties(columns);"></tr>
    </table>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button color="primary" (click)="newTask()">
          <mat-icon class="actionicon">add_box</mat-icon>
        </button>
        <mat-paginator class="paginator" [pageIndex]="page" [length]="total" [pageSizeOptions]="Paging.pageSizes" (page)="onPageChanged($event.pageIndex, $event.pageSize)"></mat-paginator>
    </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>