<div class="content-page">
  <div class="side-panel">
    <h2>Workflows</h2>
  </div>
  <div class="content-panel">
  <div class="container">
    <div class="row header">
      <div class="col-1">Id</div>
      <div class="col-1">Revision</div>
      <div class="col-2">Scope</div>
      <div class="col-7">Name</div>
      <div class="col-1"></div>
    </div>
    <div class="row" *ngFor="let workflow of workflows">
      <div class="col-1" (click)="editWorkflow(workflow.id)">{{workflow.id}}</div>
      <div class="col-1" (click)="editWorkflow(workflow.id)">{{workflow.revision}}</div>
      <div class="col-2" (click)="editWorkflow(workflow.id)">{{workflow.scope}}</div>
      <div class="col-7" (click)="editWorkflow(workflow.id)">{{workflow.name}}</div>
      <div class="col-1"><button mat-icon-button (click)="deleteWorkflow(workflow.id)"><mat-icon>delete</mat-icon></button></div>
    </div>
    <div class="row footer">
      <div class="col-3"><button mat-icon-button (click)="newWorkflow()"><mat-icon>add_circle</mat-icon></button></div>
      <div class="col-6 text-center align-self-center">Page {{page}}/{{pages}}</div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
</div>