<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>{{ title }}</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/tasks'">Tasks</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/scripts'">Scripts</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/workflows'">Workflows</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/scheduler'">Scheduler</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>