<div class="content-page">
  <div class="descriptor">
    <h1>Script Editor</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2 value">
        <ngx-select [(ngModel)]="script.language" [items]="languages" optionValueField="type" optionTextField="name" (ngModelChange)="changed=true">
          <ng-template ngx-select-option let-option>
            <span>{{option.data.name}}</span><br>
            <small>{{option.data.description}}</small>
          </ng-template>
        </ngx-select>  
      </div>
      <div class="col-9 value">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="script.name" (ngModelChange)="changed=true">
        </mat-form-field>
      </div>
      <div class="col-1 value">
        <mat-form-field>
          <mat-label>Revision</mat-label>
          <input matInput [(ngModel)]="script.revision" (ngModelChange)="loadRevision()">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <ngx-monaco-editor class="codeeditor" [options]="editorOptions" [(ngModel)]="script.code" (ngModelChange)="changed=true"></ngx-monaco-editor>
      </div>
    <p></p>
  </div>
  <div class="container">
    <div class="actionbutton">
      <button mat-raised-button color="primary" [disabled]="!changed" (click)="save()">Save</button>
    </div>
    <div class="actionbutton">
      <button mat-raised-button color="primary" [disabled]="script.code.length===0" (click)="startTest()">Test</button>
    </div>
  </div>
</div>