<h2>Node Editor</h2>
  <div class="row">
    <div class="col-2">Name</div>
    <div class="col-10">
      <input [(ngModel)]="node.name">
    </div>
  </div>
  <div class="row">
    <div class="col-2">Group</div>
    <div class="col-10">
      <input [(ngModel)]="node.group">
    </div>
  </div>
  <div class="row" *ngIf="NodeType.getNodeTypeName(node.type)!=='Start'">
    <div class="col-2">Node Type</div>
    <div class="col-10">
      <ngx-select [(ngModel)]="node.type" [items]="nodetypes" (change)="nodeTypeChanged()" optionValueField="type" optionTextField="name">
        <ng-template ngx-select-option let-option>
          <span>{{option.data.name}}</span><br>
          <small>{{option.data.description}}</small>
        </ng-template>
      </ngx-select>
    </div>
  </div>

  <div [ngSwitch]="NodeType.getNodeTypeValue(node.type)">

    <!-- Parameters for 'Start' Nodes -->
    <div *ngSwitchCase="NodeType.Start">
      <div class="row header">
        <div class="col-12">Imports</div>
      </div>  
      <div class="row" *ngFor="let import of node.parameters.imports;index as i">
        <div class="col-2">{{import.variable}}</div>
        <div class="col-9">{{import.name}}</div>
        <div class="col-1">
          <button mat-icon-button (click)="deleteImport(i)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <input [(ngModel)]="inputkey">
        </div>
        <div class="col-9">
          <select [(ngModel)]="inputvalue">
            <option *ngFor="let host of hosts" [ngValue]="host.name">{{host.name}} - {{host.description}}</option>
          </select>
        </div>
        <div class="col-1">
          <button mat-icon-button (click)="addImport(inputkey, inputvalue)"><mat-icon>add_circle</mat-icon></button>
        </div>
      </div>
      <div class="row header">
        <div class="col-12">Parameters</div>
      </div>  
      <div class="row" *ngFor="let parameter of node.parameters.parameters;index as i">
        <div class="col-2"><input [(ngModel)]="parameter.name"></div>
        <div class="col-2"><input [(ngModel)]="parameter.type"></div>
        <div class="col-7"><input [(ngModel)]="parameter.default"></div>
        <div class="col-1">
          <button mat-icon-button (click)="deleteParameterDeclaration(i)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
      <div class="row">
        <div class="col-11"></div>
        <div class="col-1">
          <button mat-icon-button (click)="addParameterDeclaration()"><mat-icon>add_circle</mat-icon></button>
        </div>
      </div>
    </div>

    <!-- Parameters for 'Call' Nodes -->
    <div *ngSwitchCase="NodeType.Call">
      <div class="row">
        <div class="col-2">Host</div>
        <div class="col-10">
          <input [(ngModel)]="node.parameters.host" list="hosts" (change)="loadHostMethods()">
          <datalist id="hosts">
            <option *ngFor="let import of imported">{{import.variable}}</option>
          </datalist>
        </div>  
      </div>  
      <div class="row">
        <div class="col-2">Method</div>
        <div class="col-10">
          <input [(ngModel)]="node.parameters.method" list="methods" (change)="selectMethod()">
          <datalist id="methods">
            <option *ngFor="let method of methods;index as i" [value]="method.name">{{method.description}}</option>
          </datalist>
        </div>  
      </div>  
      <div class="row header">
        <div class="col-12">Arguments</div>
      </div>  
      <div class="row" *ngFor="let argument of node.parameters.arguments;index as i">
        <div class="col-2">{{getArgumentName(i)}}</div>
        <div class="col-9">
          <input [(ngModel)]="argument" (change)="node.parameters.arguments[i]=$event.target.value">
        </div>
        <div class="col-1">
          <button mat-icon-button (click)="deleteArgument(i)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>    
      <div class="row">
        <div class="col-12">
          <input (change)="addArgument($event.target)">
        </div>
      </div>
    </div>
    
    <!-- Parameters for 'Binary' Nodes -->
    <div class="row" *ngSwitchCase="NodeType.BinaryOperation">
      <div class="col-5">
        <input [(ngModel)]="node.parameters.lhs">
      </div>
      <div class="col-2">
        <select [(ngModel)]="node.parameters.operation">
          <option value="Add">+</option>
          <option value="Subtract">-</option>
          <option value="Multiply">*</option>
          <option value="Divide">/</option>
          <option value="Modulo">%</option>
          <option value="ShiftLeft">&lt;&lt;</option>
          <option value="ShiftRight">&gt;&gt;</option>
          <option value="RollLeft">&lt;&lt;&lt;</option>
          <option value="RollRight">&gt;&gt;&gt;</option>
          <option value="Equality">=</option>
          <option value="Inequality">!=</option>
          <option value="Less">&lt;</option>
          <option value="LessEqual">&lt;=</option>
          <option value="Greater">&gt;</option>
          <option value="GreaterEqual">&gt;=</option>
          <option value="Matches">~~</option>
          <option value="MatchesNot">!~</option>
          <option value="BitAnd">&</option>
          <option value="BitOr">|</option>
          <option value="BitXor">^</option>
          <option value="LogicalAnd">&&</option>
          <option value="LogicalOr">||</option>
          <option value="LogicalXor">^^</option>
        </select>
      </div>
      <div class="col-5">
        <input [(ngModel)]="node.parameters.rhs">
      </div>
    </div>

    <!-- Parameters for 'Expression' Nodes -->
    <div *ngSwitchCase="NodeType.Expression">
      <div class="row">
        <div class="col-2">Language</div>
        <div class="col-10">
          <ngx-select [(ngModel)]="node.parameters.language" [items]="languages" optionValueField="type" optionTextField="name">
            <ng-template ngx-select-option let-option>
              <span>{{option.data.name}}</span><br>
              <small>{{option.data.description}}</small>
            </ng-template>
          </ngx-select>  
        </div>
      </div>    
      <div class="row">
        <ngx-monaco-editor class="codeeditor" [options]="editorOptions" [(ngModel)]="node.parameters.code"></ngx-monaco-editor>
      </div>
    </div>

    <!-- Parameters for 'Value' Nodes -->
    <div *ngSwitchCase="NodeType.Value">
      <div class="row">
        <div class="col-2">Value</div>
        <div class="col-10">
          <input [(ngModel)]="node.parameters.value">
        </div>
      </div>
    </div>

    <!-- Parameters for 'Script' Nodes -->
    <div *ngSwitchCase="NodeType.Script">
      <div class="row">
        <div class="col-2">Name</div>
        <div class="col-10">
          <input [(ngModel)]="node.parameters.name">
        </div>
      </div>
      <div class="row header">
        <div class="col-12">Parameters</div>
      </div>  
      <div class="row" *ngFor="let parameter of node.parameters.arguments|keyvalue">
        <div class="col-2">{{parameter.key}}</div>
        <div class="col-9">{{parameter.value}}</div>
        <div class="col-1">
          <button mat-icon-button (click)="deleteWorkableParameter(parameter.key)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <input [(ngModel)]="inputkey">
        </div>
        <div class="col-9">
          <input [(ngModel)]="inputvalue">
        </div>
        <div class="col-1">
          <button mat-icon-button (click)="addWorkableParameter(inputkey, inputvalue)"><mat-icon>add_circle</mat-icon></button>
        </div>
      </div>
    </div>

    <!-- Parameters for 'Workflow' Nodes -->
    <div *ngSwitchCase="NodeType.Workflow">
      <div class="row">
        <div class="col-2">Name</div>
        <div class="col-10">
          <input [(ngModel)]="node.parameters.name">
        </div>
      </div>
      <div class="row header">
        <div class="col-12">Parameters</div>
      </div>  
      <div class="row" *ngFor="let parameter of node.parameters.arguments|keyvalue">
        <div class="col-2">{{parameter.key}}</div>
        <div class="col-9">{{parameter.value}}</div>
        <div class="col-1">
          <button mat-icon-button (click)="deleteWorkableParameter(parameter.key)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <input [(ngModel)]="inputkey">
        </div>
        <div class="col-9">
          <input [(ngModel)]="inputvalue">
        </div>
        <div class="col-1">
          <button mat-icon-button (click)="addWorkableParameter(inputkey, inputvalue)"><mat-icon>add_circle</mat-icon></button>
        </div>
      </div>
    </div>    

    <!-- Parameters for 'Suspend' Nodes -->
    <div *ngSwitchCase="NodeType.Suspend">
      <div class="row">
        <div class="col-2">Variable</div>
        <div class="col-10">
          <input [(ngModel)]="node.parameters.variable">
        </div>
      </div>    
    </div>

    <!-- Parameters for 'Log' Nodes -->
    <div *ngSwitchCase="NodeType.Iterator">
      <div class="row">
        <div class="col-2">Collection</div>
        <div class="col-10">
          <input [(ngModel)]="node.parameters.collection">
        </div>
      </div>
      <div class="row">
        <div class="col-2">Item</div>
        <div class="col-10">
          <input [(ngModel)]="node.parameters.item">
        </div>
      </div>
    </div>
    
    <!-- Parameters for 'Log' Nodes -->
    <div *ngSwitchCase="NodeType.Log">
      <div class="row">
        <div class="col-2">Type</div>
        <div class="col-10">
          <select [(ngModel)]="node.parameters.type">
            <option>Info</option>
            <option>Warning</option>
            <option>Error</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-2">Text</div>
        <div class="col-10">
          <input [(ngModel)]="node.parameters.text">
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="NodeType.getNodeTypeValue(node.type)!==NodeType.Start">
    <div class="col-2">Return</div>
    <div class="col-10">
      <input [(ngModel)]="node.variable">
    </div>
  </div>  
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Done</button>
</mat-dialog-actions>