<div class="content-page">
  <div class="descriptor">
    <h1>Tasks</h1>
  </div>

  <div class="toolbar">
    <div class="toolsection row mat-elevation-z8">
      <mat-form-field>
        <mat-label>From</mat-label>
        <input matInput [matDatepicker]="fromPicker" [value]="filterFrom" (change)="changeFrom($event.target.value)">
        <mat-datepicker type="datetime-local" #fromPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>To</mat-label>
        <input matInput [matDatepicker]="toPicker" [value]="filterTo" (change)="changeTo($event.target.value)">
        <mat-datepicker type="datetime-local" #toPicker></mat-datepicker>
      </mat-form-field>    
    </div>
    <div class="toolsection row mat-elevation-z8">
      <mat-checkbox [checked]="hasStatus('Running')" (change)="changeStatus('Running')">Running</mat-checkbox>
      <mat-checkbox [checked]="hasStatus('Success')" (change)="changeStatus('Success')">Success</mat-checkbox>
      <mat-checkbox [checked]="hasStatus('Canceled')" (change)="changeStatus('Canceled')">Canceled</mat-checkbox>
      <mat-checkbox [checked]="hasStatus('Failure')" (change)="changeStatus('Failure')">Failure</mat-checkbox>
    </div>
  </div>
    
  <div class="container mat-elevation-z8">
    <table mat-table [dataSource]="tasks" >
      <ng-container [matColumnDef]="column.name" *ngFor="let column of columns">
          <th mat-header-cell *matHeaderCellDef>{{column.display}}</th>
          <td mat-cell *matCellDef="let element">
              <div [ngSwitch]="column.name">
                  <div *ngSwitchCase="'_actions'">
                      <a [routerLink]="element.id"><mat-icon>visibility</mat-icon></a>
                      <mat-icon (click)="cancelTask(element.id)">trash</mat-icon>
                  </div>
                  <span *ngSwitchDefault>{{element[column.name] | display:column.format}}</span>
              </div>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr [class.tasksuccess]="row.status==='Success'" [class.taskcanceled]="row.status==='Canceled'" [class.taskfailure]="row.status==='Failure'" mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    </table>
    <mat-paginator [pageIndex]="page" [length]="total" [pageSizeOptions]="Paging.pageSizes"></mat-paginator>
  </div>
</div>