.actions{
  width: 40px;
}

.tasksuccess {
    background: #4d774d;
}

.tasksuccess:nth-child(even) {
    background: #416441;
}

.taskcanceled {
    background: #6e6e47;
}

.taskcanceled:nth-child(even) {
    background: #5a5839;
}

.taskfailure {
    background: #754b4b;
}

.taskfailure:nth-child(even) {
    background: #684242;
}