.actions{
  width: 40px;
}

.tasksuccess {
    background: #355235;
}

.tasksuccess:nth-child(even) {
    background: #304930;
}

.taskcanceled {
    background: #4d4d31;
}

.taskcanceled:nth-child(even) {
    background: #44422b;
}

.taskfailure {
    background: #754b4b;
}

.taskfailure:nth-child(even) {
    background: #684242;
}