/* Application-wide Styles */
h1{
    color: #EFB000
}
  body, input[type="text"], button {
    color: #e2d3aa;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .container{
    width: 100%;
  }
  .content-page{
      display: table;
      width: 100%;
      margin-top: 2em;
      padding-left: 2em;
  }
  .side-panel {
      display: table-cell;
      width: 30%;
  }
  .content-panel {
      display:table-cell;
      width: 70%;
  }
  .filter-block{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .filter-row {
      display:table-row;
      width: 100%;
  }
  label{
      display: inline-block;
      width:40px;
  }
  .datepicker {
      width:130px;
  }
  mat-form-field{
    width:100%;
  }
  input{
    width:100%;
    background: rgba(255, 255, 255, 0.219);
    border: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 5px;
    margin: 0;
  }
  select {
    width: 100%;
    padding: 5px;
    margin: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.219);
  }
  .actionbutton {
    display: inline-block;
    color: whitesmoke;
    background: #185e8d;
    background: -moz-linear-gradient(top, #497ea1 0%, #2b6b96 66%, #185c8a 100%);
    background: -webkit-linear-gradient(top, #497ea1 0%, #2b6b96 66%, #185c8a 100%);
    background: linear-gradient(to bottom, #497ea1 0%, #2b6b96 66%, #185c8a 100%);
  }

  .editor-dialog-container .mat-dialog-container {
    overflow: visible;
  }

html, body { min-width:100%; height: 100%; }
body { 
  background-color: #333;
  margin: 0; 
  font-family: Roboto, 
  "Helvetica Neue", sans-serif; 
}