@import '~@angular/material/theming';
@import 'styles';

.row {
    align-items: center;
}

.header {
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255,255,255,0.07);
}

.log {
    background-color: black !important;
    color: whitesmoke;
    border: none;
}

.paginator{
    background-color: transparent;
}

.mat-toolbar {
    background-color: #424242;
}