.row {
    justify-items: center;
    align-items: center;
}
.header {
    font-size: 15px;
    font-weight: bold;
}

.log {
    background-color: black !important;
    color: whitesmoke;
    border: none;
}